.npc-sheet .gm-section {
  height: 48px;
  color: #000;
  font-weight: 700;
  font-size: 20px;
  margin-top: 0.5rem;
  text-align: center;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
.npc-sheet .gm-header {
  margin-top: 0.5rem;
}
.npc-sheet .gm-settings .permissions-list, 
.npc-sheet .gm-settings .coin-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.npc-sheet .gm-settings .permission,
.npc-sheet .gm-settings .denomination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 21px;
  line-height: 21px;
  border-bottom: 1px solid #CCC;
  font-size: 13px;
}
.npc-sheet .gm-settings .permission,
.npc-sheet .gm-settings .denomination > * {
  flex: 1;
}
.npc-sheet .gm-settings .permission .permission-name {
  margin: 0;
}
.npc-sheet .gm-settings .permission .permission-proficiency {
  text-align: center;
  flex: 0 0 24px;
}
.npc-sheet .gm-settings .permission .permission-proficiency i.fa-circle {
  font-size: 10px;
}
.npc-sheet .gm-settings .split-coins {
  width: 95%;
}