<form class="{{cssClass}}" autocomplete="off">

    <!-- <section class="sheet-upper"> -->
    
        <!-- HEADER -->
        <header class="sheet-header">
            <h1 class="charname">
                <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/>
            </h1>
        </header>

        <!-- <img class="sheet-profile sidebar" src="{{actor.img}}" title="{{actor.name}}" height="220" width="220" data-edit="img"/> -->

<!--     </section> -->

    <!-- SHEET NAVIGATION -->
<!--     <nav class="sheet-navigation">
        <nav class="sheet-tabs tabs sidebar" data-group="sidebar">
            <a class="item active" data-tab="gm-settings">GM Settings</a>
        </nav>
        <nav class="sheet-tabs tabs content" data-group="primary">
            <a class="item active" data-tab="features">Features</a>
        </nav>
    </nav> -->


    <section class="sheet-lower">

        <!-- BODY -->
        <section class="sheet-content content">

            <!-- FEATURES -->
            <div class="features" data-group="primary" data-tab="features">

                <ol class="currency">
                    {{#each data.currency as |c i|}}
                    <li class="denomination {{i}}">
                        <label>{{c.label}}:</label>
                        <input type="text" name="data.currency.{{i}}.value" value="{{c.value}}" data-dtype="{{c.type}}"/>
                    </li>
                    {{/each}}
                </ol>

                <ol class="inventory-list directory-list">
                {{#each actor.features as |section sid|}}
                    <li class="item flexrow inventory-header">
                        <h3 class="item-name">{{section.label}}</h3>
                        {{#if ../owner}}
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create Item" data-type="{{section.type}}">
                                <i class="fas fa-plus"></i> Add
                            </a>
                        </div>
                        {{/if}}
                    </li>

                    {{#each section.items as |item iid|}}
                    <li class="item flexrow" data-item-id="{{item.id}}">
                        <div class="item-name flexrow rollable">
                            <div class="item-image" style="background-image: url({{item.img}})"></div>
                            <h4>{{item.name}}</h4>
                        </div>
                        {{#if ../../owner}}
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                        {{/if}}
                    </li>
                    {{/each}}
                {{/each}}
                </ol>
            </div>

        </section>

        <!-- SIDEBAR -->
        <section class="sheet-sidebar sidebar">

            <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" height="220" width="220" data-edit="img"/>

            {{#if isGM}}

<!--             <nav class="sheet-tabs tabs" data-group="sidebar">
                <a class="item" data-tab="gm-settings">GM Settings</a>
            </nav> -->
            
            <h3 class="gm-section">GM Settings</h3>

            <!-- GM SETTINGS -->
            <div class="gm-settings" data-group="sidebar" data-tab="gm-settings">
                <h3 class="gm-header"><i class="fas fa-users"></i> Permissions</h3>
                <ol class="permissions-list">
                    {{#each actor.flags.loot.players as |player p|}}
                        <li class="permission" data-skill="{{p}}">
                            <input type="hidden" name="{{player._id}}" value="{{player.lootPermission}}" data-dtype="Number" actor="{{player._id}}"/>
                            <a class="permission-proficiency" title="{{player.lootPermissionDescription}}">{{{player.icon}}}</a>
                            <h4 class="permission-name">{{player.actor}} ({{player.name}})</h4>
                        </li>
                    {{/each}}
                </ol>
                <h3 class="gm-header"><i class="fas fa-coins"></i> Coin Distribution</h3>
                <ol class="coins-list">
                    {{#each actor.flags.loot.currency as |c i|}}
                        <li class="denomination {{i}}">
                            <label>{{c.label}}:</label>
                            <h4 class="denomination-value">{{c.value}} each</h4>
                        </li>
                    {{/each}}
                </ol>
                <button class= "split-coins" type="split-coins" name="split-coins" value="1"><i class="fa fa-coins"></i> Split {{actor.flags.loot.ownerCount}} Ways</button>
            </div>

            {{/if}}
            
        </section>
    </section>
</form>
